
body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.toolbar {
    display: flex;

    width: 100%;
    height: 64px;
    margin-bottom: 16px;

    background-color: #82D648;
    box-shadow: 0 4px 5px #888888;

    font-size: 34px;
    align-items: center;
}

.toolbar > div {
    opacity: 0.87;
    margin-left: 40%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    border-radius: 2px;
    box-shadow: 0 5px 10px #888888;
}

.input {
    margin: 0;
    list-style: none;
    padding: 20px;
    background: rgba(130, 214, 72, 0.22);
    overflow: auto;
    vertical-align: middle;

}

.inputA {
    float: left;
    position: relative;
    left: 30px;
}

.inputB {
    float: right;
    position: relative;
    right: 500px;
}

.typo-headline {
    font-size: 24px;
    opacity: 0.87;
    align-items: center;
}

.material-icons {
    vertical-align: middle;
}

.typo-code {

    width: 500px;
}

.headline {
    margin: 15px;
}

input {
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

.user-guide {
    padding: 15px;
    margin-left: 5px;
    margin-top: 15px;
    margin-right: 5px;;
    margin-bottom: 15px;

    background-color: #82D648;
}

.user-guide > .notice {
    margin-top: 25px;
}

.is-equivalence {
    margin: 25px;
    font-size: 34px;

    display: none;
}

.is-equivalence .is {
    color: #4CAF50;
    display: none;
}

.is-equivalence .is-not {
    color: #F44336;
    display: none;
}

.is-correct {
    margin: 25px;
    font-size: 34px;

    display: none;
}

.is-correct .is {
    color: #4CAF50;
    display: none;
}

.is-correct .is-not {
    color: #F44336;
    display: none;
}

.table {
    margin: 15px;
    display: none;
}

table {
    margin-top: 10px;
    font-size: 18px;

    border-collapse: collapse;
    border: 1px solid black;
}

th {
    opacity: 0.87;
    padding: 5px;
}

td {
    min-width: 18px;
    text-align: center;
}

table .result {
    text-align: right;
}

table .title {
    background-color: #AED581;
}

table .true {
    background-color: #C5E1A5;
}
